<!-- Jumbotron -->
<style type="text/css">

.button_example{
border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;
border-radius: 3px;
font-family: arial, helvetica, sans-serif; 
padding: 10px 10px 10px 10px; 
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
font-weight:bold; 
font-size: 18px;
text-align: center;
color: #FFFFFF; background-color: #3093c7;
height: 70px;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3093c7), color-stop(100%, #1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(top, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button_example:hover{
 border:1px solid #1c5675; background-color: #26759e;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26759e), color-stop(100%, #133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(top, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}
</style>
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
			<div class="active item">
					<div class="jumbotron" style="margin-top: 0px; margin-bottom: 0px">
					  <h2>Зарядись лайками ВК!<br />Мечты о популярности становятся реальностью!</h2>
					  <p class="lead" style="font-size: 23px">
					  	Наш сайт даёт вам возможность совершенно легально и бесплатно накрутить для своей страницы Вконтакте тысячи лайков. Вы сможете сами решить, на какую запись будут поставлены             заработанные на ресурсе лайки. При всём этом, каждый лайк будет поставлен от реального пользователя Вконакте, такого же точно, как вы сами! 
					  </p>
					  <a href="/auth/vkontakte" target=_blank ><input type="button" class="button_example" value="Войти с помощью ВКонтакте" /></a>
					</div>
			</div>
			<div class="item">
					<div class="jumbotron" style="margin-top: 0px; margin-bottom: 0px">
					  <h2>Нужно большое количество подписчиков Вконтакте?<br />Вам сюда!</h2>
					  <p class="lead" style="font-size: 23px">
					  	Получите возможность собрать множество подписчиков для своей группы. Мы предлагаем совершенно бесплатный и ЛЕГАЛЬНЫЙ способ раскрутить свою группу в кратчайшие сроки! Полное отсутствие ботов в группе и высшие рейтинги Вконтакте гарантированы! 
					  </p>
					  <a href="/auth/vkontakte" target=_blank ><input type="button" class="button_example" value="Войти с помощью ВКонтакте" /></a>
					</div>
			</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	$('.carousel').carousel()
</script>