<h4>Список отзывов</h4>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Email</th>
    <th>Прочитан</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @feedback.each do |item| %>
  <tr>
    <td><%= item.email %></td>
    <td><%= item.read %></td>
    <td><%= link_to image_tag('/im/edit.png'), '/admin/feedback/'+item.id.to_s %></td>
    <td><%= link_to image_tag('/im/delete.png'), '/admin/feedback/'+item.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
